#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  /* padding:0.25rem; */
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  padding-left: 0.01rem;
  padding-right: 0.01rem;
  /* text-align: center; */
}

